@model EventsItAcademy.Application.Events.Requests.EventRequestModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post" asp-controller="Event" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destription" class="control-label"></label>
                <input asp-for="Destription" class="form-control" />
                <span asp-validation-for="Destription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketQuantity" class="control-label"></label>
                <input asp-for="TicketQuantity" class="form-control" />
                <span asp-validation-for="TicketQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
}
